/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
}

article {
  margin: 20px 15px;
}

h1 {
font-size: 24px;
text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

img {
	max-width: 100%;
}

main {
  margin: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
	margin: 0 0 20px 0;
}

figcaption {
  font-size: .8em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    background-color: lavender;
    font-size: 20px;
  }

  article {
    max-width: 650px;
    margin: auto;
  }

  section {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  figure {
    margin: 20px 10px;
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: lightblue;
    font-size: 28px;
    max-width: 1500px;
    margin: auto;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  article {
    max-width: 80vw;
    margin: auto;
  }

  main {
    max-width: 80vw;
    margin: auto;
  }

  section {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
  }

  figure {
    margin: 20px 10px;
    width: 300px;
  }
}