* {
    margin: 0;
}

.header-title{
    height: 550px;
    text-align: right;
    margin: 60px 0 45px 0;
    background-image: url("https://media.wired.com/photos/60300b7b091d7b01b7e2080b/16:9/w_2399,h_1349,c_limit/Science_mantisshrimp-1061398692.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-title h1 {
    color: #091049;
    display: inline-block;
    width: 520px;
    margin-right: 40px;
    margin-top: 410px;
    font-size: 50px;
}

.sticky {
    margin-top: 0;
    width: 100%;
    height: 60px;
    background-color: #091049;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-header {
    list-style-type: none;
    margin-left: 50px;
    padding: 16px;
}

.nav-header li {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
}

.nav-header li a {
    text-decoration: none;
    color: #ebf2fa;
    font-weight: 700;
}

.nav-header li a:hover {
    /* text-decoration: none; */
    color: #427aa1;
    /* font-weight: 700; */
    transform: scale(1.5);
}

.sub-title{
    color: #427aa1;
    font-weight: 700;
}

main {
    display: inline-block;
    max-width: 75%;
}

aside {
    display: inline-block;
    height: 100vh;
    vertical-align: top;
}

aside p {
    margin-bottom: 10px;
}

.main-title{
    margin: 0px 0 20px 50px;

}

.align-left {
    margin: 35px 0 20px 50px;
}

.description-content-1 {
    margin: 30px 0 0 50px;
 }

.description-content-1 img {
   position: relative;
   top: 40px;
}

.description-content-1-text {
    width: 70%;
    display: inline-block;
}

.description-content-1-text p {
    width: 95%;
    display: inline-block;
    margin: 8px 0;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 90%;
    text-align: center;
    margin: 0 50px;
}

th {
    background-color: #427aa1;
    color: #ebf2fa;
    font-weight: 700;
}

.img-left {
    float: left;
    top: -5px;
}

.align-right {
    margin-left: 20px;
    margin-top: 30px;    
}

.highlight {
    background-color: yellow;
    font-weight: 700;
}

.references {
    padding-left: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.references li a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #ebf2fa;
    color: black;
    padding: 30px 50px;
    margin-top: 30px;
    text-align: center;
}

.footer h2 {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
}
.footer p {
    margin-top: 0;
    font-style: italic;
    font-size: 14px;
}

.my-name{
    font-size: 24px;
    font-weight: 700;
}